body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

a {
  color: $c-accent;
  text-decoration: none;
  @include scut-selected {
    color: $c-accent;
    border-bottom: 1px dotted;
  }
  @media only print {
    color: inherit;
  }
}

address {
  font-style: normal;
}

ul,
p {
  @include scut-margin(0 n);
}

ul {
  @include scut-list-custom($marker-width: 1rem) {
    color: $c-light;
  }
}

%t-b {
  font-weight: bold;
}
%t-med {
  font-size: $size-med;
}
%t-upper {
  text-transform: uppercase;
}
.sm {
  font-size: $size-sm;
}

b {
  @extend %t-b;
}

.name {
  @extend %t-b;
  @extend %t-upper;
  font-size: $size-lg;
  line-height: 1;
  @media #{$bp-until-sm} {
    font-size: 2.5rem;
    text-align: center;
  }
}

.heading {
  @extend %t-b;
  @extend %t-med;
}

.heading,
.feature {
  margin-bottom: $pad;
}

.feature {
  @extend %t-b;
  @extend %t-med;
  display: block;
  em {
    @extend %t-upper;
    font-style: normal;
    font-size: 0.85em;
  }
}

.job {
  @extend %t-b;
}

.job-details {
  @extend .sm;
  @extend %t-b;
  margin-bottom: $pad-xsm;
}

p.lined-h {
  @extend .sm;
  @extend %t-b;
  @extend %t-upper;
  @include scut-margin($pad n ($pad - 0.2rem));
  position: relative;
  & > span {
    display: inline-block;
    background-color: #fff;
    padding-right: 0.5rem;
    position: relative;
    z-index: 2;
  }
  &:after {
    content: "";
    display: block;
    @include scut-absolute(n 0 49% 0);
    border-top: 1px solid $c-lighter;
  }
}