$c-accent: #CF1414;
$c-light: #b8b8b8;
$c-lighter: #ccc;
$size-med: 1.3077rem;
$size-sm: 0.8077rem;
$size-lg: 3.4321rem;

$pad: 1rem;
$pad-xsm: 0.3rem;

$bp-until-sm: "only screen and (max-width: 30em)";
$bp-until-med: "only screen and (max-width: 48.1em)";
$bp-after-med: "only screen and (min-width: 48.1em)";
